# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Env files
.env
.env.*
!.env.example

# Poetry
.poetry/

# Logs
*.log
logs/

# Testing
.coverage
coverage/
htmlcov/
pytest_cache/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# FastAPI / PEP 582
__pypackages__/
